---
import type { Frontmatter } from "../config";

const {
	frontmatter: { title },
} = Astro.props as {
	frontmatter: Frontmatter;
};
---

<article class="prose dark:prose-invert">
	<h1>{title}</h1>
	<slot />
</article>
