---
import type { MarkdownHeading } from "astro";

const { headings, editUrl } = Astro.props as {
	headings: MarkdownHeading[];
	editUrl: string;
};
---

<h2>On this page</h2>
<ul>
	{
		headings.map((heading) => (
			<li>
				<a href={"#" + heading.slug}>{heading.text}</a>
			</li>
		))
	}
</ul>

<h2>More</h2>
<ul>
	<li>
		<a href={editUrl}>
			<span>Edit this page</span>
		</a>
	</li>
</ul>
